body {
  padding-top: 6rem;
  height: 100vh;
  background-color: #2f3433;
  background-image: url('../img/grey-blue-shape.svg'),
    url('../img/full-blue-shape.svg'), url('../img/circle.svg'),
    url('../img/goutte.svg');
  background-repeat: no-repeat;
  background-size: 27rem, 23rem, 20rem, 20rem;
  background-position: 40vw -18rem, 23vw 42rem, 76vw center, -5vw 6rem;
}

@media screen and (max-width: 1200px) {
  body {
    background-size: 24rem, 24rem, 20vw, 13rem;
    background-position: 40vw -18rem, 25vw 65vh, 75vw center, -4vw 14vh;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-image: url('../img/full-blue-shape.svg'),
      url('../img/circle.svg');
    background-size: 24rem, 45vw;
    background-position: 25vw 65vh, 46vw 9vh;
  }
}
