.container-newsletter {
  display: flex;
  overflow: hidden;
  width: 100%;
  transform: translateY(-50%);
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  cursor: pointer;
  margin-bottom: 2rem;
}

.txt {
  color: white;
  white-space: nowrap;
  font-size: 2.1rem;
  animation: scrollTxt 15s linear infinite;
  font-weight: 300;
  padding: 0.7rem;
}

.line {
  height: 1px;
  border-top: white 1px solid;
  width: 100%;
  margin-bottom: 2rem;
}

@keyframes scrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 1140px) {
  .txt {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 800px) {
  .txt {
    font-size: 1.2rem;
  }
}
