* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roxborough CF';
  src: local('Roxborough CF'),
    url('./fonts/Roxborough CF.ttf') format('truetype');
}

h1,
p,
a {
  color: rgba(255, 255, 255, 0.911);
  font-family: 'Roxborough CF', sans-serif;
}

.container {
  height: 80vh;
  padding: 0 18%;
}

@media screen and (max-width: 1460px) {
  .container {
    padding: 0 7%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    height: 85vh;
    padding: 1rem 7%;
  }
}
@media screen and (max-width: 330px) {
  .container {
    height: 95vh;
  }
}

@import './home';
@import './navbar';
@import './content';
@import './newsletter';
@import './footer';
@import './background';
